<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,88},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,46},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>btnRestart.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameButtonSheet.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8efdf306b004c5684a90aa7018ea9971:0e92a7d166d17377905e8adcd7415ef8:429d1441fab189bb0112df11fdebfa43$</string>
            <key>textureFileName</key>
            <string>gameButtonSheet.png</string>
        </dict>
    </dict>
</plist>
